:root {
  --clr-primary-100: hsl(318, 100%, 98%);
  --clr-primary-200: hsl(318, 100%, 95%);
  --clr-primary-400: hsl(318, 93%, 70%);

  --clr-neutral-700: hsl(0, 0%, 10%);

  --spacing-200: 0.5rem;
  --spacing-400: 1rem;
  --spacing-700: 2rem;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* reset and stuffs here */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button {
  background-color: transparent;
}

/* to enable percentage based height */
html,
body {
  height: 100%;
}

/* some basic styling */
body {
  background: linear-gradient(
    145deg,
    var(--clr-primary-100) 60%,
    var(--clr-primary-200)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--clr-neutral-700);
}

header {
  padding: 1.5em 2em;
  color: white;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 13rem;
  background-color: var(--clr-primary-400);
  z-index: -99;
}
