.todos-container {
  display: grid;
  gap: var(--spacing-200);
  width: min(90%, 30rem);
  background-color: var(--clr-primary-200);
  border: 1px solid var(--clr-neutral-700);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.1);
  margin: 0 auto;
  margin-top: var(--spacing-700);
  margin-bottom: 5rem;
  overflow: hidden;
}
